<div id="divFormulario">
    <p>ID: <span id="spnID"></span></p>
    <p>Fecha Alta: <span id="spnFechaAlta"></span></p>
    <form action="">
        <label for="txtTipo" id="labelTipoDash">Tipo:</label>
        <input type="text" name="txtTipo" id="txtTipo">

        <label for="txtDesc">Descripción:</label>
        <input type="text" name="txtDesc" id="txtDesc">

        <label for="txtImg">Source Imágen:</label>
        <input type="text" name="txtImg" id="txtImg">

        <label for="numPrecio">Precio:</label>
        <input type="number" name="numPrecio" id="numPrecio" min="1">

        <div id="btnsFormDash">
            <input type="submit" value="Agregar" id="btnSubmitDash">
            <input type="reset" value="Cancelar" id="btnCancelarDash">
        </div>
    </form>
    <div id="divImgDash">
        <img id="imgFormDash" src="assets/nopic.png" alt="">
    </div>
</div>