<%- include('templates/header.ejs') %>

    <main>
        <h1>Error <%= error %>
        </h1>
        <h2>
            <%= msg %>
        </h2>
    </main>

    <%- include('templates/footer.ejs') %>