<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>document</title>
</head>

<body>
    <header>
        <p>Este es el header</p>
    </header>
    <nav>
        <a href="/">Index</a>
        <a href="productos">Productos</a>
        <a href="servicios">Servicios</a>
        <a href="instalacion">Instalación</a>
        <a href="quienessomos">Quienes Somos</a>
        <a href="contacto">Contacto</a>
    </nav>
</body>

<main>
    <h1>PRODUCTOS</h1>
</main>

<table>
    <thead>
        <tr>
            <th class="tbEncabezado" colspan="4">PISCINAS</th>
        </tr>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6941607311325_21c_BI_3403.jpeg"
                    alt=""></td>
            <td>
                Escalera de piscina 84 cm Bestway
            </td>
            <td>
                52 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6941057400174_21c_bi_1c40.jpeg"
                    alt=""></td>
            <td>
                Piscina Hinchable Redonda Easy Jet Ø 396 X 84 cm Intex
            </td>
            <td>
                139 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6941057414270_21c_bi_8cef.jpeg"
                    alt=""></td>
            <td>
                Piscina Desmontable Prisma Frame Ø 305 X 76 cm Intex
            </td>
            <td>
                125 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6941057414317_21c_bi_f623.jpeg"
                    alt=""></td>
            <td>
                Piscina Desmontable Prisma Frame Ø 366 X 76 cm Intex
            </td>
            <td>
                159 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6941057414331_21c_bi_3f71.jpeg"
                    alt=""></td>
            <td>
                Piscina Desmontable Prisma Frame Ø 366 X 99 cm Intex
            </td>
            <td>
                255 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6942138951264_21c_BI_8057.jpeg"
                    alt=""></td>
            <td>
                Piscina Hinchable Redonda Ø 305 X 76 cm Bestway
            </td>
            <td>
                85 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6942138951363_21c_bi_d05a.jpeg"
                    alt=""></td>
            <td>
                Piscina Hinchable Redonda Ø 366 X 76 cm Bestway
            </td>
            <td>
                105 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/8/4/8413262770406_21c_bi_9cf4.jpeg"
                    alt=""></td>
            <td>
                Piscina Hinchable Redonda Ø 2,40 X 0,63 m
            </td>
            <td>
                3995€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/8/4/8413262770420_21c_bi_fefa.jpeg"
                    alt=""></td>
            <td>
                Piscina Hinchable Redonda Ø 3,6 X 0,76 m
            </td>
            <td>
                71 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/8/4/8413262770444_21c_bi_c3e3.jpeg"
                    alt=""></td>
            <td>
                Piscina Tubular Redonda Ø 3,6 X 0,76 m
            </td>
            <td>
                110 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/0/5052931413973_21c_BI_bdba.jpeg"
                    alt=""></td>
            <td>
                Clorador flotante pastillas Blooma
            </td>
            <td>
                455€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/6/9/6941057403977_21c_bi_ed07.jpeg"
                    alt=""></td>
            <td>
                Cobertor de piscina ø 305 x 25 cm intex
            </td>
            <td>
                1495€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td class="cantProductos" colspan="4">Mostrando 12 piscinas.</td>
        </tr>
    </tfoot>

</table>

<table>
    <thead>
        <tr>
            <th class="tbEncabezado" colspan="4">BARBACOAS</th>
        </tr>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600226486111_21c_bi_89c4.jpeg"
                    alt=""></td>
            <td>
                Parrilla Simple 66 x 38 cm
            </td>
            <td>
                2495€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600226486289_21c_bi_97ed.jpeg"
                    alt=""></td>
            <td>
                Parrilla con brasero 64 x 38 cm
            </td>
            <td>
                62 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600226486296_21c_bi_2c59.jpeg"
                    alt=""></td>
            <td>
                Parrilla con brasero 52 x 35 cm
            </td>
            <td>
                58 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600226486722_21c_bi_4a2e.jpeg"
                    alt=""></td>
            <td>
                Barbacoa de obra Madrid 237x124 cm
            </td>
            <td>
                335 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600226486739_21c_bi_d992.jpeg"
                    alt=""></td>
            <td>
                Barbacoa de obra Roma 237x160 cm
            </td>
            <td>
                485 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600887890210_21c_bi_3576.jpeg"
                    alt=""></td>
            <td>
                Barbacoa de obra Lisboa 196x73 cm
            </td>
            <td>
                215 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600887890227_21c_bi_e479.jpeg"
                    alt=""></td>
            <td>
                Barbacoa de obra Valencia 115x92 cm
            </td>
            <td>
                199 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600887890548_21c_BI_66cd.jpg"
                    alt=""></td>
            <td>
                Barbacoa de obra Oslo 190x68 cm
            </td>
            <td>
                155 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/6/5600887890296_21c_bi_d35f.jpeg"
                    alt=""></td>
            <td>
                Base de hormigón para barbacoa
            </td>
            <td>
                5495€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/9/1/914751_ba67.jpg"
                    alt=""></td>
            <td>
                Salida de humos barbacoas obra 31x31x25 cm
            </td>
            <td>
                1445€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/9/1/914747_2ca8.jpg"
                    alt=""></td>
            <td>
                Brasero Oslo 48x35x12 cm
            </td>
            <td>
                58 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/9/1/914749_7622.jpg"
                    alt=""></td>
            <td>
                Parrilla simple Oslo 50x35 cm
            </td>
            <td>
                1645€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>


    </tbody>
    <tfoot>
        <tr>
            <td class="cantProductos" colspan="4">Mostrando 12 barbacoas.</td>
        </tr>
    </tfoot>

</table>

<table>
    <thead>

        <tr>
            <th class="tbEncabezado" colspan="4">MOBILIARIO</th>
        </tr>
        <tr>
            <th>Imágen</th>
            <th>Producto</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/3/6/3663602423966_21c_bi_8251.jpeg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Denia
            </td>
            <td>
                389 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/3/6/3663602423997_21c_bi_413a.jpeg"
                    alt=""></td>
            <td>
                Conjunto de jardín Maevea
            </td>
            <td>
                679 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/3/6/3663602734703_21c_bi_b902.jpeg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Pilares
            </td>
            <td>
                345 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/0/5059340125138_21c_BI_5939.jpeg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Akoa
            </td>
            <td>
                735 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/0/5059340355054_21c_BI_44a2.jpeg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Soron
            </td>
            <td>
                309 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/8/4/8410474552981_32c_bi_6d77.jpg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Diva
            </td>
            <td>
                225 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/8/4/8421415921223_21c_BI_0cb6.jpeg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Dakota
            </td>
            <td>
                285 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/8/7/8711245130347_21c_bi_2900.jpeg"
                    alt=""></td>
            <td>
                Conjunto de Jardín Mia
            </td>
            <td>
                299 €
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/0/5059340137018_21c_bi_9af2.jpeg"
                    alt=""></td>
            <td>
                Silla De Jardín Plegable Saba Azul 84,5 X 46,5 X 50 cm Goodhome
            </td>
            <td>
                2445€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>

        <tr>
            <td><img src="https://www.bricodepot.es/media/catalog/product/cache/9fd94d263c787d0de1fd9c97150546cf/5/0/5059340137025_21c_bi_be5c.jpeg"
                    alt=""></td>
            <td>
                Silla De Jardín Plegable Saba Verde 100 kg Goodhome
            </td>
            <td>
                2445€
            </td>
            <td>
                <button class="add">Añadir</button>
            </td>
        </tr>


    </tbody>
    <tfoot>
        <tr>
            <td class="cantProductos" colspan="4">Mostrando 10
                muebles.</td>
        </tr>
        <tr>
            <td colspan="4">Total de productos mostrados: 34.</td>
        </tr>
    </tfoot>

</table>

<footer>
    <p>Este es el Footer</p>
</footer>