<%- include( 'templates/header' ,{tituloURL} ) %>

    <main>
        <h1><%- titulo %></h1>

        <div id="divIndex">
            <img src="assets/index.png" alt="">
            <p>JARDINES.COM</p>
        </div>

    </main>

    <%- include('templates/footer') %>