* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body ****************************************************** */

body {
  font-family: "arial";
  min-width: 340px;
}

/* Header *************************************************** */
header {
  background-color: rgb(65, 73, 50);
  color: white;
}

header img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

header p {
  font-size: 1.2em;
  padding: 15px;
}


/* Main **************************************************** */
main h1 {
  text-indent: 10px;
  text-align: right;
  margin-top: 20px;
  padding: 20px;
  font-size: 2.5em;
  color: rgb(105, 243, 190);
  text-shadow: 0 0 5px rgb(65, 73, 50);
}

/* Barra de Navegación *************************************** */

.ocultar {
  display: none;
}

#divMenu {
  width: 100%;
  background-color: rgb(54, 97, 70);
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#divMenu div:last-of-type {
  text-align: right;
}

#btnMenu,
#btnCart {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

#btnCart {
  color: rgb(124, 233, 157);
}

.divNavContenedor {
  position: absolute;
  width: 150px;
  background-color: rgb(54, 97, 70);
  box-shadow: 2px 2px 5px 1px black;

  transform: translate3d(-105%, 0px, 0px);
  transition: transform 0.20s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  z-index: 1001;
}

.divNavContenedor.mostrarNav {
  transform: translate3d(0px, 0px, 0px);
}

.divNavHijo {
  display: flex;
  align-items: center;
  height: 30px;
}

.divNavHijo a {
  padding-top: 5px;
  padding-left: 8px;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;

  transition: background-color 1s ease-out;
}

.divNavHijo a:hover {
  background-color: black;
}

/* Cart ****************************************************** */

#divCart {
  position: absolute;
  width: 650px;
  height: 300px;
  overflow-y: scroll;
  font-size: 0.9em;
  right: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(2, 85, 133);
  box-shadow: 0 0 3px black;

  transform: translate3d(105%, 0, 0px);
  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
  z-index: 1001;
}

#btnCloseCart,
.addCart,
.removeCart,
.subCart {
  padding: 5px;
  font-size: 1.1em;
  color: darkolivegreen;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.removeCart {
  font-size: 1.2em;
  color: red;
}

#btnCloseCart {
  position: fixed;
  right: 10px;
  color: red;
}

#divCart.mostrarCart {
  transform: translate3d(0px, 0px, 0px);
  right: 5px;
}

#divCart table {
  width: 98%;
  margin: 15px 2px;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  font-weight: normal;
}

#divCart tbody td:nth-child(2) {
  text-align: left;
  text-indent: 5px;
}

#divCart thead tr th:nth-child(1),
#divCart tbody tr:first-child td:nth-child(1) {
  width: 14%;
}

#divCart th {
  font-size: 1.1em;
  padding: 3px;
  border-bottom: 2px solid darkolivegreen;
}

#divCart tbody td:not(:last-of-type) {
  border-bottom: 1px dotted black;
  font-size: 0.9em;
}

#divCart tfoot {
  border-top: 2px solid darkolivegreen;
}

#divCart thead tr th:nth-child(3),
#divCart thead tr th:nth-child(4),
#divCart thead tr th:nth-child(5),
#divCart tbody tr:first-child td:nth-child(3),
#divCart tbody tr:first-child td:nth-child(4),
#divCart tbody tr:first-child td:nth-child(5) {
  width: 12%;
}

#divCart thead tr th:nth-child(6),
#divCart tbody tr:first-child td:nth-child(6) {
  width: 5%;
}

#divCart td img {
  height: 50px;
  vertical-align: middle;
}

#totalCart {
  text-align: right;
  padding: 5px 15px;
  font-size: 1.5em;
  color: white;
  background-color: black;
}

.divBtnCesta {
  margin: 0 auto;
  padding: 10px;
  width: 95%;
  text-align: center;
}

#btnFinalizarCompra,
#btnVaciarCesta {
  padding: 5px;
  font-size: 1.1em;
  width: 180px;
  margin: 10px;
  cursor: pointer;
}


/* Table Productos **************************************** */
.divTable {
  overflow-x: auto;
  padding: 20px 0;
}

.divTable h2 {
  padding: 10px;
  color: darkolivegreen;
  text-align: center;
  font-size: 1.8em;
}

.divTable table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.tbEncabezado {
  padding: 10px;
  font-size: 1.4em;
  text-indent: 10px;
}

.divTable thead tr th {
  border-bottom: 1px solid black;
  background-color: rgb(36, 66, 37);
  color: white;
  padding: 8px;
}

.divTable thead tr th:nth-child(1),
.divTable tbody tr:first-child td:nth-child(1) {
  width: 20%;
}

.divTable thead tr th:nth-child(3),
.divTable thead tr th:nth-child(4),
.divTable tbody tr:first-child td:nth-child(3),
.divTable tbody tr:first-child td:nth-child(4) {
  width: 10%;
}

.divTable td img {
  height: 140px;
  vertical-align: middle;
}

.divTable tbody td:nth-child(3) {
  font-weight: bold;
}

.divTable tbody tr:hover {
  font-weight: bold;
  text-shadow: 1px 1px 20px rgb(0, 0, 0);
  cursor: default;
}

.divTable td {
  border-bottom: 1px dotted black;
  text-align: center;
  padding: 2px;
}

.divTable td:nth-child(2) {
  text-align: left;
  text-indent: 5px;
}

.btnAddToCart {
  font-size: 1.5em;
  color: rgb(9, 76, 153);
  padding: 5px;
  background-color: transparent;
  box-shadow: 0 0 3px 1px black;
  border-radius: 5px;
  border: none;
}

.btnAddToCart:hover {
  background-color: rgb(9, 76, 153);
  box-shadow: 0 0 0 0;
  color: white;
  cursor: pointer;
}

.divTable tfoot {
  border-top: 2px solid black;
  border-bottom: none;
  text-size-adjust: 1.2em;
}

.cantProductos {
  background-color: black;
  color: white;
  text-align: left;
  text-indent: 5px;
  padding: 5px;
}


/* Footer ******************************************************* */
footer {
  background-color: rgb(65, 73, 50);
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 0.9em;
  margin-top: 30px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;

}

footer a:hover {
  text-decoration: underline;
  color: rgb(0, 132, 255);
}

/* ADMIN ******************************************************* */

#divUser {
  width: 400px;
  height: 250px;
  border: 2px solid yellowgreen;
  box-shadow: 0 0 5px 1px black;
  margin: 15px auto;
}

#divUser form {
  padding: 40px 20px;
  width: 100%;
  height: 100%;
  background-color: black;
  color: greenyellow;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  align-items: center;
}

#divUser form input {
  margin: 5px;
  padding: 5px 0;
  text-indent: 5px;
  font-size: 1em;
  color: darkblue;
}

#divUser form label {
  text-align: right;
}

#btnSubmitUser {
  grid-column: 1 / 3;
  width: 150px;
  border: none;
  background-color: yellowgreen;
  color: black;
  box-shadow: 0 0 3px yellowgreen;
  cursor: pointer;
  font-weight: bold;
  justify-self: center;
}

#pErrorUser {
  text-align: center;
  color: red;
  font-size: 1.2em;
}

#divMenuDash {
  background-color: black;
  display: flex;
  justify-content: space-evenly;

  height: 30px;
}

.divNavHijoDash {
  display: flex;
  text-align: center;
}

.divNavHijoDash a {
  padding: 5px;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;

  transition: background-color 200ms ease-in;
}

.divNavHijoDash a:hover {
  background-color: rgb(2, 92, 43);
}

.h1Dash {
  text-indent: 10px;
  text-align: right;
  margin-top: 20px;
  padding: 20px;
  font-size: 2.5em;
  color: rgb(105, 243, 190);
  text-shadow: 0 0 5px rgb(65, 73, 50);
}

#divFormulario {
  width: 90%;
  margin: 10px auto;
  padding: 5px;
  background-color: rgb(253, 255, 239);
  box-shadow: 0 0 5px 1px black;
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
}

#divFormulario form {
  padding: 10px;
  grid-column: 1 / 2;
}

#divFormulario p {
  grid-column: 1 / 2;
  padding: 5px 10px;
  font-weight: bold;
}

#pError {
  color: red;
}

#spnID,
#spnFechaAlta {
  font-weight: normal;
  font-size: 0.9em;
}

#divFormulario input[type='text'] {
  margin-bottom: 10px;
}

#divFormulario input {
  display: block;
  color: darkblue;

  border: 1px solid black;
}

#divFormulario label {
  font-weight: bold;
}

#servicio,
#tipo {
  width: 100%;
  padding: 5px 3px;
}

#descripcion {
  width: 100%;
  padding: 5px 3px;
}

#imagen {
  width: 100%;
  padding: 5px 3px;
}

#precio {
  width: 70px;
  padding: 3px;
}

#divImgDash {
  grid-row: 1 / 4;
  justify-self: center;
  align-self: center;
  grid-column: 2 / 3;
}

#divFormulario img {

  width: 150px;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
}

#btnsFormDash {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}

#btnSubmitDash,
#btnModificarDash,
#btnEliminarDash,
.btnCancelarDash {
  width: 150px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 47, 85);
  box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}


.btnCancelarDash {
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
}


/* ADMIN TABLAS ************************************************* */

#divTablaProductos h2,
#divTablaServicios h2 {
  margin-top: 30px;
  float: left;
  color: darkolivegreen;
}

#divTablaProductos .aDash,
#divTablaServicios .aDash {
  font-size: 1.2em;
  float: right;
  text-decoration: none;
  border-radius: 5px;
  background-color: rgb(21, 255, 0);
  color: rgb(0, 0, 0);
  padding: 5px;
  margin-top: 20px;
}

.btnsTablaDash {
  justify-content: space-evenly;

}

.btnsTablaDash a {
  text-decoration: none;
  padding: 0 2px;
  color: rgb(0, 65, 90);
  font-size: 1.3em;
}

#divTablaProductos,
#divTablaServicios {
  margin: 0 auto;
  width: 95%;
  font-size: 0.8em;
}

#divTablaProductos table,
#divTablaServicios table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
}

#divTablaProductos th,
#divTablaServicios th {
  font-size: 1.3em;
  padding: 10px;
  background-color: black;
  color: white;
}

#divTablaProductos td:nth-child(3),
#divTablaServicios td:nth-child(2) {
  text-align: left;
}

#divTablaProductos img {
  width: 40px;
  border: 1px black red;
}

#divTablaProductos td,
#divTablaServicios td {
  text-align: center;
  padding: 5px;
  border: 1px dotted black;
  border-collapse: collapse;
}

#divTablaProductos tr:hover,
#divTablaServicios tr:hover {
  cursor:default;
  color: red;
}

#divTablaServicios td:nth-child(4) {
  width: 100px;

}

/* Servicios ************************************************** */

.divServicios {
  width: 95%;
  background-color: rgb(110, 124, 85);
  border-radius: 10px;
  border: 3px solid rgb(2, 85, 20);
  box-shadow: 0 0 10px 1px rgb(0, 0, 0);
  padding: 15px;
  margin: 10px auto 20px;
}

.divServicios h2 {
  color: rgb(47, 202, 60);
  text-shadow: 0 0 10px rgb(0, 0, 0);
}

.divServicios p {
  color: white;
  padding: 5px;
}


/* Instalación ************************************************ */

.instalacion {
  width: 95%;
  background-color: rgb(110, 124, 85);
  border-radius: 10px;
  border: 3px solid rgb(2, 85, 20);
  box-shadow: 0 0 10px 1px rgb(0, 0, 0);
  padding: 15px;
  margin: 10px auto 20px;
}

.instalacion h2 {
  color: rgb(47, 202, 60);
  text-shadow: 0 0 10px rgb(0, 0, 0);
  margin-bottom: 10px;
}

.instalacion p {
  color: white;
  padding: 5px;
}

.btnAddToCartInst {
  font-size: 1.5em;
  color: rgb(9, 76, 153);
  padding: 5px;
  float: right;
  background-color: white;
  box-shadow: 0 0 3px 1px black;
  border-radius: 5px;
  border: none;
}

.btnAddToCartInst:hover {
  background-color: rgb(115, 255, 0);
  box-shadow: 0 0 0 0;
  color: rgb(26, 105, 2);
  cursor: pointer;
}

.instalacion p:first-of-type span {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.instalacion p:not(:first-of-type) span {
  color: rgb(1, 66, 75);
  font-weight: bold;
}

.instalacion p:last-of-type span {
  color: rgb(24, 223, 6);
  font-weight: bold;
}

/* Index ********************************************* */

#divIndex {
  width: 95%;
  margin: 0 auto;
  display: grid;
}

#divIndex img {
  width: 90vw;
  margin: 0 auto;
  position: static;
}

#divIndex p {
  position: absolute;
  font-size: 4em;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  color: white;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  text-shadow: 0 0 3px black;
  background-color: rgba(0, 0, 0, 0.650);
}