<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d28a6644c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <title> <%- tituloURL %> </title>
</head>

<body>

    <header>
        <div>
            <img src="assets/banner.png" alt="Banner de jardines.com">
            <p>Jardines.com</p>
        </div>
    </header>
    
    <%- include('nav') %>