<nav>
    <a href=".">Index</a> |
    <a href="productos">Productos</a> |
    <a href="servicios">Servicios</a> |
    <a href="quienessomos">Quienes Somos</a> |
    <a href="contacto">Contacto</a> 
</nav>