    <script src="../js/main.js"></script>

    <footer>
        <p><a href="/">Jardines.com</a> - Teléfono: 943 486 321 / 676 315 894 - email: <a
                href="mailto:clientes@jardines.com">clientes@jardines.com</a></p>
    </footer>
    
</body>

</html>