<nav>
    <div id="divMenuDash">
        <div class="divNavHijoDash">
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="divNavHijoDash">
            <a href="productos">Productos</a>
        </div>
        <div class="divNavHijoDash">
            <a href="productos">Nuevo Producto</a>
        </div>
        <div class="divNavHijoDash">
            <a href="#h2Servicios">Servicios</a>
        </div>
        <div class="divNavHijoDash">
            <a href="/dashboard/servicios/new">Nuevo Servicio</a>
        </div>
        <div class="divNavHijoDash">
            <a href="instalacion">Instalaciones</a>
        </div>
        <div class="divNavHijoDash">
            <a href="instalacion">Nueva Instalación</a>
        </div>
        <div class="divNavHijoDash">
            <a href="/">Volver</a>
        </div>
    </div>

</nav>